body {
	background-color: #F5F5DC;
	color: #3c3d42;
	font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
	background-image: url(beans.jpg);
    background-size: cover;
	width: 100%;
    margin: 0;
}
header {
	background-color: #fff;
	color: #3c3d42;
    height: 120px;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer {
	background-color: rgba(20,21,26,1);
	color: #fff;
	font-size: 10px;
	text-align: center;
	padding: 15px;
    position: fixed;
    bottom:0;
    width: 100%;
}
footer a {
    color: #e5e5e5;
}

nav {
	text-align: center;
	padding: 10px;
    margin: 0;
    background-color: rgba(40,41,46,1);
}
nav a{
	text-decoration: none;
	transition: 3s ease-out;
    color: #e5e5e5;
    font-size: 18px;

}


nav a:link{
	color: #e5e5e5;
}
nav a: visited{
	color: #e5e5e5;
}
nav a:hover{
	color: #f2f2f2;
}
nav ul{
	list-style-type: none;
	padding-left: 0px;
	font-size: 1.2em;
    margin:0;
    padding: 15px 0;
}
h1{
	font-family: Roboto,Arial, sans-serif;
	height: 100px;
	margin: 0px;
	background-image: url(javalogo.gif);
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -9999px;
}
h2{
	font-family: Roboto,Arial, sans-serif;
    text-align: center;
    font-size: 32px;
}
h3{
	background-color: #E6D6A9;
	text-transform: uppercase;
}
dt {
	font-weight: bold;
}
main ul {
	list-style-image: url(marker.gif);
	list-style-position: inside;
}

main div{
	overflow: auto;
	font-size: 90%;
	padding-left: 5%;
	padding-right: 5%;
    max-width: 1000px;
    margin: auto;
    min-height: 400px;
}

#wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
    margin: 0;
}

main {
	padding: 20px;
	display: block;
	background-color: #f5f5dc;
	margin-left: 175px;
}
main img {
	float: left;
	padding-right: 2em;
}
#hero{
	height: 300px;
	color: #F5F5DC;
	background-image: url(heroroad.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
section {
	margin-right: 20%;
	margin-left: 20%;
	overflow: auto;
	font-size: 90%;
}
header, main, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
#mobile {
	display: none;
}
#desktop {
	display: inline;
}

table {
	margin: auto;
	width: 80%;
    max-width: 800px;
}
td, th {
	padding: 10px;
}
tr:nth-of-type(odd) {
	background-color: #D2B48C;
}
label {
	float: left;
	display: block;
	text-align: right;
	width: 120px;
	padding-right: 20px;
}
input {
	display: block;
	margin-bottom: 20px;
}
textarea {
	display: block;
	margin-bottom: 20px;
}
#submit {
	margin-left: 130px;
}
audio {
	float: none;
	padding-top: 20px;
}

#bean-form {
    margin: auto;
    max-width: 500px;
}
@media only screen and (max-width: 64em) {
	body {
		margin: 0px;
		background-color: #D2B48C;
		background-image: none;
	}
	}
	h1 {
		margin: 0px;
		background-image: url(javalogomobile.gif);
		}
	main {
		margin-left: 0px;
	}
	nav {
		float: none;
		width: auto;
		padding: 0px;
		}
	nav ul {
		text-align: center;
	}
	nav li {
		display: inline;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-right: 0.75em;
		padding-left: 0.75em;
	}
@media only screen and (max-width: 37.5em) {
	nav li {
		display: inline-block;
		width: 5em;
		font-size: 120%;
		text-align: center;
		box-shadow: 2px #330000;
		background-color: #F5F5DC;
		margin: 1%;
		padding: 2.5%;
	}
	nav a {
		display: block;
		}
	nav a:hover {
		color: #333300;
	}
	main a:link {
		color: #FFFFFF;
	}
	main a:visited {
		color: #EAEAEA;
	}
	main a:hover {
		color: #FFD700;
	}
	section {
		margin: 0px;
		}
	section img {
		background-image: none;
	}
	#hero {
		height: auto;
	}
	#mobile {
		display: inline;
	}
	#desktop {
		display: none;
	}
	label {
		float: none;
		text-align: left;
	}
	input [type="submit"]{
		margin-left: 0px;
	}
}
}
